
/* Tiles */

	.tiles {
		@include vendor('display', 'flex');
		@include vendor('flex-wrap', 'wrap');
		border-top: 0 !important;
		padding: 1em;


		& + * {
			border-top: 0 !important;
		}

		article {
			@include vendor('align-items', 'bottom');
			@include vendor('display', 'flex');
			@include vendor('transition', (
        'all .4s ease',
        'filter 0.4s ease',
        '-webkit-filter 0.4s ease'
      ));
			transition: all .4s ease;
			@include padding(4em, 4em);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			cursor: default;
			height: 50vh;
			max-height: 40em;
			min-height: 23em;
			overflow: hidden;
			position: relative;
			width: 45%;
			padding:1em;
    	flex: 1 auto;
    	margin: 1em;

			.image {
				display: none;
			}

			header {
				@include vendor('transition', (
        'all .3s ease',
        'filter 0.3s ease',
        '-webkit-filter 0.3s ease'
      ));
				position: relative;
				z-index: 3;
				opacity: 0;
				
			}

			h3 {
				font-size: 1.75em;
				color: _palette(light-alt);
				text-transform: uppercase;
				letter-spacing: .1em;

				a {
					&:hover {
						color: inherit !important;
					}
				}
			}

			p{
				color: _palette(light-alt);
				letter-spacing: .15em;
			}

			.link.primary {
				border: 0;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 4;
			}

			&:before {
				// @include vendor('transition', 'opacity 0.5s ease-in-out');
				bottom: 0;
				content: '';
				display: block;
				height: 100%;
				left: 0;
				opacity: .4;
				position: absolute;
				width: 100%;
				z-index: 2;
				
			}

			&:after {
				
				content: '';
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}

			&:hover {
				&:before{
				@include vendor('transition', (
        'all .4s ease',
        'filter 0.4s ease',
        '-webkit-filter 0.4s ease'
      ));
					opacity: .95;
					background-color: _palette(bg-alt);
					border: .75em solid _palette(light);
				}
				>header{
					opacity: 1;
				}
			}


			&.is-transitioning {
				@include vendor('transform', 'scale(0.95)');
				@include vendor('filter', 'blur(0.5em)');
				transform: translateY(10px);
				opacity: 0;
			}

			&:nth-child(n+3):nth-child(-n+4) {
				flex: 1 auto;
				background-position: bottom;

			}

			&:nth-child(6n - 5) {
				&:before {
					background-color: _palette(tile-overlay);
				}
			}

			&:nth-child(6n - 4) {
				&:before {
					background-color: _palette(tile-overlay);
				}
			}

			&:nth-child(6n - 3) {
				&:before {
					background-color: _palette(tile-overlay);
				}
			}

			&:nth-child(6n - 2) {
				&:before {
					background-color: _palette(tile-overlay);
				}
			}

			&:nth-child(6n - 1) {
				&:before {
					background-color: _palette(accent5);
				}
			}

			&:nth-child(6n) {
				&:before {
					background-color: _palette(accent6);
				}
			}
		}

		@include breakpoint(large) {
			article {
				@include padding(4em, 3em);
				height: 30vh;
				max-height: 30em;
				min-height: 20em;
			}
		}

		@include breakpoint(medium) {
			article {
				width: 50% !important;
			}
		}

		@include breakpoint(small) {
			
				padding: .5em;
			
			article {
				@include padding(3em, 1.5em);
				height: 16em;
				max-height: none;
				min-height: 0;
				margin: .5em;

				h3 {
					font-size: 1.5em;
				}
			}
		}

		@include breakpoint(xsmall) {
			display: block;

			article {
				height: 20em;
				width: 100% !important;
				margin: 1em 0;
			}
		}
	}