/* About Section - */

#about{
  background-color: _palette(light-alt);
}

.about-alt{
  .inner{
    // h2{
    //   color: _palette(bg);
    //   font-family:_font(title);
    //   text-transform: uppercase;
    //   line-height: 1;
    //   letter-spacing: .09em;
    //   margin: 0 0 .5em 0;
    // }

    p{
      color:_palette(bg);
      letter-spacing: .1em;
    }
        
  }
}


section{
  /* About Home Page -  */
&.about{
  > .inner {
      @include vendor('transition', (
        'opacity 1.5s ease',
        'transform 0.5s ease-out',
        'filter 0.5s ease',
        '-webkit-filter 0.5s ease'
      ));
      margin: 0 auto;
      max-width: 100%;
      width: _size(inner);  
      position: relative;
      z-index: 2;

      p{
        color:_palette(bg);
        width: 43%;
        letter-spacing: .1em;
      } 
    }

    @include breakpoint(medium) {
      > .inner {
        p {
          width: 100%;
        }
      }
    }
  }
}

