
section{
  &.content{
    h3{
      text-transform: uppercase;
      letter-spacing: .1em;
      margin: 0 0 .4em 0;
    }
    p{
      color: _palette(bg);
      letter-spacing: .1em;
      padding-right: 1em;
    }
      .image{
        &.shadow{
        img{ 
            -webkit-box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          -moz-box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; 
          }
        }
      }
    }
  }
